# Віртуальне середовище (воно важить багато і зібране під Windows, у Docker свій Linux Python)
venv/
.venv/
env/

# Локальна база даних (у Docker ми використовуємо чистий PostgreSQL)
*.sqlite3
db.sqlite3

# Файли конфігурації середовища з секретами (у Docker вони передаються через docker-compose)
.env

# Локальні медіа-файли (завантажені картинки / постери не повинні летіти в образ)
media/

# Кеш Python (компіляційні файли, які створюються під час запуску коду локально)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Системні файли та кеш лінтерів/тестів
.git/
.github/
.gitignore
.flake8
.pytest_cache/
.coverage
htmlcov/

# Локальні налаштування IDE (якщо з'явиться папка .idea від PyCharm або .vscode)
.idea/
.vscode/